.track-listing { }
.track-num { width: 30px; }
.track-name { width: 200px; }
.track-listen { width: 50px; }
.track-lyrics { width: 50px; }
.track-download { width: 50px; }

.mllp_widget {
-moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc; font-family:Verdana; height: 58px; padding: 10px; }
.mllp_widget .mllplayer_bckbut {
padding-right:3px;padding-top:5px; float: left;
}
.mllp_widget .mllplayer_playbut {
float: left;
}
.mllp_widget .mllplayer_fwdbut {
float: left;padding-left:3px;padding-top:5px;
}
.mllp_widget .mllplayer_plinfo {
float: left; padding-left: 10px
}
.mllplayer_plinfo {width:auto;}
.mllplayer_curtrack, .mllplayer_curartist { width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}